body{
  background-color: #393e46;
  color: #4ECCA3;
  text-align:center;
}

h1{
  font-size: 7rem;
  font-family: 'Lobster', cursive;
  margin: auto;
  padding: 2%;
}
p{
  font-size: 3rem;
  padding: 2% 4%;
}
.dice{
  display: inline-block;
  font-family: 'Lobster', cursive;

  }
.img1{
  display: block;
  padding: 0 50px 50px 0;
}
.img2{
  display: block;
  padding: 0 50px 50px 0;
}
a{
  color: #4ECCA3;
}
a:hover{
  color: grey;
}
.btn{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
font-size:1rem;
  color: #4ECCA3;
}

